.hidden {
    display: none;
}
header {
    background-color: #191E2B;
}

.nav-container ul{
    list-style: none;
    display: flex;
}
aside {
    height: 100vh;
    background-color: gray;
}

.dark-aside {
    background-color: black;
    color: white;
}

.main-container {
    display: flex;
    justify-content: center;
}

.main-container-dark {
    background-color: darkslategrey;
}

.meme-container {
    height: 80vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.meme-img {
    width: 100%;
    flex-grow: 1;
    background-color: aquamarine;
    background-size: cover;
    background-repeat: "no-repeat";
    background-position: "center";
}