* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    color: #FFFFFF;
    overflow: hidden;
}

h3 {
    padding: 20px 0;
    text-align: center;
}

p {
    text-shadow: #393E49;
}

.front-page {
    width: 80%;
    height: 100vh;
}

.header {
    background-color: #191E2B;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-title {
    font-size: 40px;
}

.list-container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.nav-item {
    margin: 0 10px;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: center;
    background-color: #30343F;
}

.meme-container {
    height: 75vh;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container {
    height: 20%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.meme-img {
    height: 80%;
    width: 100%;
    flex-grow: 1;
    background-color: black;
    background-size: cover;
    background-repeat: "no-repeat";
    background-position: "center";
}

.dl-btn-container{
    background-color: #30343F;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-btn {
    background-color: #285E20;
    color: white;
    padding: 15px;
    border: 0px;
    margin: 5px;
    cursor: pointer;
}

.aside {
    height: 100vh;
    width: 20%;
    background-color: #252935; 
}

/* -------------------------------------
-------------------- IMAGE STYLE -------------------- */

.close-aside {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0 0;
}
.aside-containers {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.reset-btn {
    background-color: #393E49;
    border: none;
    padding: 10px;
    margin: 20px;
    color: #FFFFFF;
    cursor: pointer;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    width: 100%;
    background-color: #252935;
    padding: 0;
    margin: 0;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 7px;
    cursor: pointer;
    background: #5A5D68;
    border-radius: 9px;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #5A5D68;
    border: 1px solid #5A5D68;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #FFFFFF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6px;
}
input[type=range]:active::-webkit-slider-runnable-track {
    background: #9E9E9E;
}

.url-img:hover, .input-style:hover, .reset-btn:hover, li:hover{
    background-color: #4E5565;;
}


/* -------------------------------------
-------------------- TEXT STYLE -------------------- */
.top-text, .bottom-text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.color-container {
    width: 50%;
    margin-right:10px ;
}

.color-bg-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.outline-btn {
    width: 33%;
}

/* -------------------------------------
-------------------- Shared Styless -------------------- */

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.width50 {
    width: 50%;
}

.label-style {
    font-size: 12px;
    margin: 5px 0 ;
}

.bold {
    font-weight: bold;
}

.input-style {
    background-color: #393E49;
    border: 0px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 13px;
    padding: 10px;
    margin: 5px 0 5px 0;
}

.input-color {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: none;
}

.input-color::-webkit-color-swatch,
.input-color::-webkit-color-swatch-wrapper {
    border-radius: 100%;
    border: none;
    padding: 0;
}

.text-color-hex {
    font-size: 13px;
    padding-right: 20px;

}

.mr5 {
    margin-right: 5px;
}

.hidden {
    display: none;
}

/* -------------------------------------
-------------------- Light Mode -------------------- */
.header-light {
    background-color: #E0E0E0;
    color: #424242;
}

.main-container-light {
    background-color: #EEEEEE;
}

.dl-btn-container-light {
    background-color: #EEEEEE;
}

.light-aside { 
    background-color: #FAFAFA;
    color: #4C4C4C;
    height: 100vh;
}

.light-mode{
    background-color: #E0E0E0;
    color: #4C4C4C;
}

